{
  "env": {
    "rollup": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "version"
      ]
    },
    "babel": {
      "presets": ["env"],
      "plugins": [
        "transform-class-properties",
        "add-module-exports",
        "transform-object-rest-spread",
        "version"
      ]
    }
  }
}
